
.host-container {  
   display: flex;
   flex-direction: row;     
   flex-wrap: wrap;   
   padding-top: 20px; 
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 0px;
}

.panel {
  width: 400px;    
  background-color: lightgreen;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  .frm {
    padding-top: 20px;
  }
}

.react-container {
  width: 400px;     
  background-color: lightblue;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
}


.react-header-container {
  width: 400px;     
  background-color: lightpink;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.input-ctrl {
margin: 10px;
}